@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-surface-light text-gray-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-surface-dark text-gray-100;
  }
}
